footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #121315;

  ul {
    list-style: none;
  }

  p {
    color: #fff;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;

    &.footer {
      display: flex;
      justify-content: space-between;
      gap: 2em;
    }
  }

  .brand {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
  }

  .media-icons li,
  .services-icons li {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
  }

  .media-icons a {
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover {
      background: #fff;
      color: #111;
    }
  }

  .services-icons a {
    font-size: 1.6em;

    &:hover {
      color: #94fbab;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(138, 208, 153, 0.36);
    padding: 2em;
  }

  .menu {
    margin-bottom: 1em;

    li {
      display: inline-block;
      margin: 0 0.7em 0.7em 0;
      text-align: center;

      a {
        transition: 0.3s;
        font-weight: 600;

        &:hover {
          color: #94fbab;
        }
      }
    }
  }

  .input-wrap {
    margin: 1em 0;
    display: flex;

    input {
      padding: 0.5em;
      border: none;
      background: #20232a;
      color: #ccc;

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 0.8em;
      background: #94fbab;
      border: none;
      color: #217634;
      transition: 0.3s;

      &:hover {
        background: #fff;
        color: #111;
      }
    }
  }

  /* == responsive == */
  @media screen and (max-width: 900px) {
    .container {
      flex-direction: column;
    }
  }
}
